.imageStyles {
  max-height: 350px;
  width: 350px;
  border-radius: 15px;
  object-fit: cover;
}

.contentCard {
  padding: 0 1.5rem;
}

.contentCard h1 {
  margin: 1.5rem 0;
  padding: 0;
}

#projects .cardGrid .card__1 {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.card__0 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.card__1 {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.card__3 {
  grid-column: 2 / 3;
  grid-row: 3 / 3;
}

.card__2 {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.contact {
  padding: 0;
  grid-column: 1 / 4;
  grid-row: 4 / 4;
}

.cardBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  background-color: #baa6d4 !important;
  border: none;
  border-radius: 8px;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  display: block;
width: 100%;
}

.cardBtn:hover {
  background-color: #d0bdea;
}


@media screen and (min-width: 740px) {
    .imageStyles {
        max-height: 350px;
        width: 350px;
        border-radius: 15px;
      }
      
      .contentCard {
        padding: 0 1.5rem;
      }
      
      .contentCard h1 {
        margin: 1.5rem 0;
        padding: 0;
      }
      
      #projects .cardGrid .card__1 {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
      }
      
      .card__0 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
      }
      
      .card__1 {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
      }
      
      .card__3 {
        grid-column: 2 / 3;
        grid-row: 3 / 3;
      }
      
      .card__2 {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
      }
      
      .contact {
        padding: 0;
        grid-column: 1 / 4;
        grid-row: 4 / 4;
      }
      
      .cardBtn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 25%;
        background-color: #baa6d4 !important;
        border: none;
        border-radius: 8px;
        padding: .5rem 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        /* display: inline-block; */
        /* width: 100%; */
      }
      
      .cardBtn:hover {
        background-color: #d0bdea;
      }
      
}

/* ContentCard.module.css */
.contentCard {
  position: relative;
  width: 100%;
  height: 100%;
}

.loadingSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8); /* semi-transparent background */
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* .imageStyles {
  width: 100%;
  height: auto;
} */

/* Add other styles as needed */
