.hero {
    background-size: cover;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-image: linear-gradient(to top, rgba(70,60,95,0.75), rgba(70,60,95,0.75)); */
}

.heroText {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    text-align: center;
    color: white;
}

.heroText p, .heroText h3, .heroText h1 {
    margin: 0;
}

.heroText h2 {
    font-size: 3.5rem;
    height: auto;
    
}

.heroText h2::after {
    content: " ";
    text-align: center !important;
    width: 55px;
    display: block;
    position: relative;
    bottom: 25px;
    height: 2px;
    background-color:#AA81E4;
    margin: 1.75rem auto;
  }

.heroText p {
    font-size: 1.4rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.heroText h3 {
    font-size: 1.2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/* style.css */
#scrollIndicator{
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateX(-50%) translateY(20px);
        opacity: 0.8;
    }
    100% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

@media screen and (min-width: 740px) {

    .hero {
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        /* background-image: linear-gradient(to top, rgba(70,60,95,0.75), rgba(70,60,95,0.75)); */
    }
    
    .heroText {
        margin: 0 auto;
        max-width: 960px;
        width: 100%;
        text-align: center;
        color: white;
    }
    
    .heroText p, .heroText h3, .heroText h1 {
        margin: 0;
    }
    
    .heroText h2 {
        font-size: 5.5rem;
        height: 120px;
        
    }
    
    .heroText h2::after {
        content: " ";
        text-align: center !important;
        width: 55px;
        display: block;
        position: relative;
        bottom: 25px;
        height: 2px;
        background-color:#AA81E4;
        margin: 1.75rem auto;
      }
    
    .heroText p {
        font-size: 1.4rem;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: .5rem;
    }
    
    .heroText h3 {
        font-size: 1.2rem;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    #scrollIndicator{
        position: fixed;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        animation: pulse 1.5s infinite;
    }
    
}