
:root {
  
}

html {
  scroll-behavior: smooth;
}

main {
  min-height: 60vh;
}

h1::after {
  content: " ";
  width: 35px;
  display: block;
  position: relative;
  height: 2px;
  background-color:#AA81E4;
  margin-left: .5rem;
}

h1.textReverse::after {
  content: " ";
  width: 25px;
  display: block;
  position: relative;
  height: 1.5px;
  background-color:grey;
  margin-left: .5rem;
  right: 0;
}

.progress-bar {
  animation: progress 5s ease;
  background-color: #7222E0 !important;
}

@keyframes progress {
  from {
      width: 0%;
  }

  to {
      width: calc(inherit * 100%);
  }
}


